@import '../../../assets/scss/styles.scss';

h3 {
    font-size: 1.5rem;
    color: black;
    font-family: 'Rubik', sans-serif;
    line-height: 2rem;
    letter-spacing: 0.5px;
}

p {
    font-size: 1.1rem;
    line-height: 1.3rem;
}

.img {
    text-align: center;
}