nav {
  font-size: 1.1rem;

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  img {
    width: 2.4rem;
    height: 2.4rem;
  }

  a::after {
    vertical-align: 0.1rem;
    margin-left: 0.255rem;
  }

  .dropdown {
    &:hover {
      .dropdown-menu {
        display: block !important;
        margin-top: 0;
      }
    }

    .dropdown-menu {
      box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024,
        0 1px 10px #0000001f;
      border: none;

      &.show {
        display: none;
      }

      .dropdown-item {
        font-size: 0.85rem;
      }
    }
  }
}
