<div class="container p-5">
  <h1 class="mb-4">{{ "Dating Safety Tips" | translate }}</h1>
  <p class="mb-4">
    {{
      "Meeting new people is exciting, but you should always be cautious when interacting with someone you don't know. Use your best judgment and put your safety first, whether you are exchanging initial messages or meeting in person. While you can't control the actions of others, there are things you can do to help you stay safe during your Secret Love experience."
        | translate
    }}
  </p>
  <h2 class="mb-4">{{'Online Safety' | translate}}</h2>
  <ul>
    <ng-container *ngFor="let safeTip of tipsMeeting">
      <li class="mb-3">{{ safeTip.title | translate }}</li>
      <p>{{ safeTip.text | translate }}</p>
    </ng-container>
  </ul>
  <h2 class="mb-4">{{'Meeting in Person' | translate}}</h2>
  <ul>
    <ng-container *ngFor="let meetTip of tipsSafety">
      <li class="mb-3">{{ meetTip.title | translate }}</li>
      <p>{{ meetTip.text | translate }}</p>
    </ng-container>
  </ul>
</div>
<app-footer></app-footer>
