<div class="container-fluid text-center mt-nav">
  <h2 class="tile">{{ "Page Not Found 404" | translate }}</h2>
  <img src="../../../../assets/img/heart_broken.webp" alt="Heart Broken" />
  <div class="text mt-5">
    <h3 class="subtitle font-weight-bold">
      {{ "Don't worry, no one broke your heart." | translate }}
    </h3>
    <h3 class="subtitle font-weight-bold mt-5">
      {{ "To return to home click" | translate }}
      <span routerLink="/home" routerLinkActive="active" role="button">{{
        "here" | translate
      }}</span>
    </h3>
  </div>
</div>