@import "../../../assets/scss/styles.scss";

.container-fluid {
  .img {
    height: 75vh;
    background: url("../../../assets/img/home1.webp") no-repeat center;
    background-size: cover;
  }

  .characteristics {
    transform: translateY(-1.5rem);
    gap: 1rem;
  }

  .quotes {
    width: 94%;
  }
}

@include responsive(mobileL-down) {
  .card-top-img {
    height: 16rem !important;
  }

  .characteristics .characteristic:not(:first-child) {
    margin-top: 2rem !important;
  }
  .quotes .quote {
    width: 100% !important;
  }
}