@import "../../../../assets/scss/responsive/modal-language.scss";
@import "../../../../assets/scss/styles.scss";

::ng-deep .mat-dialog-container {
  padding: 3rem 1.5rem 1.5rem;
  position: relative;
  z-index: 6;
}

.close {
  right: 0.95rem;
  top: 0.95rem;
}

.lang {
  border-radius: 0.75rem;
  width: 90%;

  &.selected {
    background-color: $lightred;
    animation: background-color ease 280ms;
  }

  p {
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: $gray;

    &.selected {
      color: white;
    }
  }

  img {
    width: 40px;
    box-shadow: 1px 1px 11px -2px $gray;
  }
}

@keyframes background-color {
  from {
    background-color: white;
  }
  to {
    background-color: $lightred;
  }
}

@keyframes displayAfter {
  from {
    background-color: transparent;
  }
  to {
    background-color: $lightred;
  }
}
