<div class="close position-absolute" mat-dialog-close>
  <mat-icon class="font-weight-bold">close</mat-icon>
</div>
<div
  class="lang row d-flex flex-row align-items-center py-2 m-auto"
  [class]="lang.abr"
  *ngFor="let lang of arrayLanguages"
  [formGroup]="languages"
>
  <div class="col-7 langName">
    <p class="mb-0 user-select-none">{{ lang.name.toUpperCase() | translate }}</p>
  </div>
  <div class="col-3">
    <img class="rounded-circle" [src]="lang.icon" alt="Flag of the country" />
  </div>
  <div class="col-2 tick">
    <mat-radio-button
      [id]="lang.abr + 'radio'"
      [value]="lang.abr"
      (change)="changeLange(lang.abr)"
      [checked]="this.langService.actualLanguage === lang.abr"
    ></mat-radio-button>
  </div>
</div>
