.cards {
  width: 90%;
  gap: 2rem;
}

.card {
  max-width: 30rem;
  min-width: 18rem;
  box-shadow: 0 0 11px 1px rgb(73 80 87 / 25%);
  border-radius: 2rem;

  .icon {
    top: -1.5rem;
    left: 45%;
    font-size: 3rem;
    z-index: 1;
    color: $red;

    &::after {
      content: "";
      height: 4rem;
      width: 4rem;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      top: -8px;
      left: -8px;
      z-index: -1;
      box-shadow: 0 20px 80px rgba($gray, 0.25);
    }
  }

  &-top-img {
    height: 18.18rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }

  &-body {
    .title {
      font-family: "Rubik", sans-serif;
      font-size: 1.4rem;
      line-height: 1.7rem;
    }

    .text {
      font-size: 1rem;
    }
  }
}

.cardProduct {
  border-radius: 3px;
  max-width: 30rem;
  min-width: 18rem;

  .card-top-img {
    height: 14.4rem;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    border-radius: 3px;
  }

  .card-body {
    .title {
      top: -2.5rem;
      right: 1rem;
    }

    .text {
      border-color: $lightgray;
    }
  }

  &:hover {
    .card-front {
      transform: rotateY(-180deg);
    }

    .card-back {
      transform: rotateY(0deg);
    }
  }

  .card-front,
  .card-back {
    transition: all 1s ease;
    backface-visibility: hidden;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.15);
  }

  .card-back {
    top: 0;
    background-color: rgba($lightgray, 0.1);
    transform: rotateY(180deg);

    &-btn {
      background-color: white;
      font-size: 1.25rem;
      box-shadow: 0 0 15px rgba($lightgray, 0.2);
      z-index: 2;
      letter-spacing: 1px;

      &:hover {
        transform: translateY(-0.1rem);

        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }

      &::after {
        content: "";
        display: inline-block;
        background-color: white;
        height: 100%;
        width: 100%;
        border-radius: 50rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.5s;
      }
    }

    h5 {
      font-size: 1rem;
      letter-spacing: 1px;
    }

    h3 {
      font-size: 5rem;
    }
  }
}
