<h2 class="text-center mb-5" id="secret-love-ultra">Secret Love Ultra</h2>
<div
  class="characteristicsProducts container mx-auto d-flex flex-wrap flex-row"
>
  <div
    class="characteristicProduct d-flex flex-column flex-sm-row mb-5 align-items-center w-100 w-lg-50"
    *ngFor="let characteristic of characteristics"
  >
    <div
      class="img d-flex flex-row align-items-center justify-content-center mr-5 ml-5 ml-sm-0 mb-3 mb-sm-0"
    >
      <mat-icon [class]="characteristic.img">{{ characteristic.img }}</mat-icon>
    </div>
    <div class="text d-flex flex-column justify-content-center">
      <h3 class="mb-1 mb-sm-4 mt-2 font-weight-bold text-sm-left">
        {{ characteristic.title | translate }}
      </h3>
      <p class="m-0 text-sm-left">{{ characteristic.text | translate }}</p>
    </div>
  </div>
</div>
