@import "../settings/colors.scss";

button {
  height: 100% !important;
  background-color: $lightred !important;
  color: white !important;
  font-weight: 500 !important;
  letter-spacing: 1px !important;
  font-size: 1.1rem !important;
  border-radius: 0.5rem !important;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
