<div class="container pt-4 p-4 p-sm-5">
  <h1 class="mb-4 w-100">{{ "Privacy Policy" | translate }}</h1>
  <p class="w-100">
    {{
      "Welcome to Secret Love's Privacy Policy. Thank you for taking the time to read it."
        | translate
    }}
  </p>
  <p class="w-100">
    {{
      "We appreciate that you trust us with your information and we intend to always keep that trust. This starts with making sure you understand the information we collect, why we collect it, how it is used and your choices regarding your information. This Policy describes our privacy practices in plain language, keeping legal and technical jargon to a minimum."
        | translate
    }}
  </p>
  <ol>
    <ng-container *ngFor="let privacy of privacity">
      <li class="mb-3 w-100">{{ privacy.title | translate }}</li>
      <p class="w-100">{{ privacy.text | translate }}</p>
    </ng-container>
  </ol>
</div>
<app-footer></app-footer>
